<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
    <title>Submission Success</title>
</head>
<body>
    <%- include('partials/_header') %>
    <div class="container mt-5">
        <h1>Success!</h1>
        <p>Your animation has been successfully created and uploaded to YouTube.</p>
        <p>Watch it <a href="<%= youtubeURL %>">here</a>.</p>
    </div>
    <%- include('partials/_footer') %>
</body>
</html>